<!-- backgroung image container -->
<div class="bg-image">

</div>
<div class="aboutUs">
    <h2>About Us <br>____</h2><br><br>
    <p>The Montessori is dedicated to providing an enriching and challenging environment where
        each child is encouraged to grow
        to his or her unique and fullest potential, academically and socially, in a safe and supportive environment.

    </p>
</div>
<div class="blank" style="height: 150px;"></div>
<!-- our mission container -->
<div class="flex-container">
    <div class="img">
        <!-- image is inserted here -->
        <img src="https://i.pinimg.com/564x/a1/a0/85/a1a0854300c65a2b72ebe0a3adc62311.jpg" alt="hello">
    </div>
    <div class="ourMission">
        <div class="ourMission-flex-container">
            <div class="ourMissionHeading">Our Mission</div>
            <div class="ourMissionDiscription">
                <p style="text-align: left;">The Montessori is dedicated to providing an enriching and
                    challenging environment where each child is
                    encouraged to grow to his or her unique and fullest potential, academically and socially, in a safe
                    and
                    supportive
                    environment.</p>
            </div>
        </div>
    </div>
</div>
<div class="blank" style="height: 150px;"></div>


<!-- enquiry form below -->
<app-enquiry-form></app-enquiry-form>
<!-- a blank container for managing spaces between another components -->
<div class="blank"></div>