.bg-image {
  background-image: url("src\assets\contactUsBG.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
}
.contactUs {
  background-color: black;
  height: 200px;
  width: 300px;
  color: white;
  padding-top: 15px;
  position: absolute;
  top: 40%;
  left: 40%;
}
.contactUs h2 {
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  height: 300px;
  flex-direction: row;
  margin-top: 20px;
}
.img {
  width: 40%;
  /* background-color: maroon; */
  color: black;
  margin: 10px;
}
.img h4 {
  text-align: center;
  padding-top: 15%;
}
.ourMission {
  /* background-color: red; */
  width: 60%;
  margin: 10px;
}
.ourMission-flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
}
.ourMissionHeading {
  font-size: 60px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px;
}
.ourMissionDiscription {
  text-align: center;
  margin: 10px;
  font-size: 18px;
}
