<div class="container">
    <p>fee-structure works!</p>
</div>
<!-- backgroung image container -->
<div class="bg-image">

</div>
<div class="aboutUs">
    <h2>Course Details & Fee Structure<br>____</h2><br><br>

</div>
<div class="blank"></div>
<!-- our mission container -->
<div class="flex-container">
    <div class="img">
        <h4>image</h4>
    </div>
    <div class="ourMission">
        <div class="ourMission-flex-container">
            <div class="ourMissionHeading">Course Details & Fee Structure</div>
            <div class="ourMissionDiscription">
                <p style="text-align: left;">The Montessori is dedicated to providing an enriching and
                    challenging environment where each child is
                    encouraged to grow to his or her unique and fullest potential, academically and socially, in a safe
                    and
                    supportive
                    environment.</p>
            </div>
        </div>
    </div>
</div>


<!-- enquiry form below -->
<app-enquiry-form></app-enquiry-form>
<!-- a blank container for managing spaces between another components -->
<div class="blank"></div>