.navbar {
  height: 110px;
}
.navbar-brand {
  font-family: Century Gothic;
  font-size: 20px;
  margin-left: 15px;
}
#navbarNavDropdown {
  position: relative;
  left: 50%;
}
#navbarNavDropdown .nav-item {
  margin-left: 5px;
  font-weight: bold;
  font-size: 17px;
}
