<!-- backgroung image container -->
<div class="bg-image">
  <h4 class="welcome-txt">
    ___________________________________________________________________________
    <br />
    <br />
    WELCOME TO ADARSH MONTESSRI TRAINING COURSE & DIPLOMA
    <br />___________________________________________________________________________
  </h4>
</div>
<div class="slogan">
  <h4>EDUCATION TO WOMEN, MAKE THEM SELF DEPENDENT <br />_____</h4>
</div>
<!-- enquiry form container -->
<div class="flex-container">
  <div class="enquiry">
    <h4>Drop your queries here <br />_____</h4>
  </div>
  <div class="enquiry-form">
    <div class="form-flex-container">
      <div class="input-group flex-nowrap">
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group flex-nowrap">
        <input
          type="text"
          class="form-control"
          placeholder="email"
          aria-label="email"
          aria-describedby="addon-wrapping"
        />
      </div>
      <div class="input-group">
        <textarea
          class="form-control"
          aria-label="With textarea"
          placeholder="enter message here"
        ></textarea>
      </div>
      <div class="input-group flex-nowrap">
        <input
          type="button"
          class="form-control"
          value="Send"
          aria-label="email"
          aria-describedby="addon-wrapping"
          style="font-weight: bold"
        />
      </div>
    </div>
  </div>
</div>
<!-- a blank container for managing spaces between another components -->
<div class="blank"></div>
