<!-- backgroung image container -->
<div class="bg-image">
  <h4 class="welcome-txt">
    ___________________________________________________________________________
    <br />
    <br />
    WELCOME TO ADARSH MONTESSRI TRAINING COURSE & DIPLOMA
    <br />___________________________________________________________________________
  </h4>
</div>
<div class="slogan">
  <h4>EDUCATION TO WOMEN, MAKE THEM SELF DEPENDENT <br />_____</h4>
</div>
<!-- enquiry form below -->
<app-enquiry-form></app-enquiry-form>
<!-- a blank container for managing spaces between another components -->
<div class="blank"></div>