.bg-image {
  background-image: url("src\assets\homepageBGimg.avif");
  height: 700px;
  background-position: center;
  background-size: cover;
}
.bg-image h4 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.slogan {
  height: 150px;
  align-self: top;
}
.slogan h4 {
  text-align: center;
  padding-top: 40px;
}
